{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: aliceblue;
    font-size: 19px;
}
main{    width: 70%;
    padding: 50px;
    margin: auto;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

    .photo{ width:calc(50%-40px) ;
        height: ;
        margin: 20px;
   background-color: rgb(92, 43, 8);
  
  
      }
div{
    width: 60%;
    height: auto;
    margin: 20px auto;

}
img{
    max-width: 100%;
    margin: 10px 0;
    width: 1600px;
    border: 10px rgb(207, 27, 27) ;
    border-radius: 10px;

}


div{  width: 60%;
    height: auto;
    margin: auto;
    box-shadow: 0 0 10px 1px;
    padding: 40px;
    background-color: rgb(187, 166, 166);
}
    
p{
    text-align: justify;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: crimson;
    margin: 50px 10px;
    padding: 10px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: 0,2s ease-in;

}
a:hover{
    border-color:blue ;
}